.guided-tour {
    position: relative !important
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 1em 10px .1em 10px;
    quotes: "“" "”" "‘" "’"
}

.guided-tour-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1024;
    background-color: var(--tourguide-overlay)
}

    .guided-tour-overlay.active {
        display: block
    }

.guided-tour-target {
    z-index: 1025
}

.guided-tour-step {
    display: none;
    text-rendering: optimizespeed;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    color: #333
}

    .guided-tour-step.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: all;  z-index: 99999;
    }

        .guided-tour-step.active .guided-tour-step-highlight {
            position: absolute;
            box-sizing: border-box;
            border-radius: 4px;
            box-shadow: 0 0 0 999em var(--tourguide-overlay);
            z-index: 1024
        }

        .guided-tour-step.active .guided-tour-step-tooltip {
            position: absolute;
            margin: 16px 0;
            z-index: 1025;
           min-width: 280px;
            max-width: 400px;
            border-radius: 5px;
            box-sizing: border-box;            
            transition: opacity 150ms ;background-color:#ffffff;
            box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.49);
            -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.49);
            -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.49);
        }

@media screen and (max-width: 760px) {
    .guided-tour-step.active .guided-tour-step-tooltip {
        max-width: unset;
        min-width: unset;
        width: calc(100% - 64px);
        left: 32px !important;
        right: 32px !important
    }
}

.guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner {
    position: relative;
    padding: 15px 15px 45px 20px;
    display: block
}

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-arrow {
        position: absolute;
        background: transparent
    }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-image img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 28px
    }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-title {
        font-weight: 600;
        margin-bottom: 6px;
        text-transform: uppercase;  color: #000;
    }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-icon {
        display: inline-block;
        overflow: hidden
    }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-button {
        flex-direction: column;
        justify-content: center;
        display: inline-flex;
        text-align: center;
        cursor: pointer
    }

        .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-button .guided-tour-icon {
            align-self: center
        }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-button-close {
        position: absolute;
        top: 0;
        right: 0;        
        color: #000;
    width: 42px;
    height: 42px;
    }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-button-prev, .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-button-next, .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-button-complete {
        width: 105px;
        height: 35px;
        /* border: 2px solid currentColor; */
        background: var(--tourguide-background);
        border-radius: 50%;
        margin-top: -24px;
        position: absolute;
    }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-button-prev {
        left: 15px;
        bottom: 14px;
        background: #3c7aff;
        color: #ffffff;
        border-radius: 100px;
    }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-button-next {
       
        box-shadow: 5px 0 1em 0rgba(0,0,0,.4);
        right: 15px;
        bottom: 14px;
        background: #3c7aff;
        color: #ffffff;
        border-radius: 100px; 
    }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-button-complete {
        right: 15px;
        bottom: 14px;
        background: #3c7aff;
    color: #ffffff;
    border-radius: 100px;
    }

    .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-bullets {
        text-align: center;
        line-height: 16px
    }

        .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-bullets ul {
            margin: 10px 0 -18px 0;
            list-style: none;
            padding: 0;  pointer-events: none;
        }

            .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-bullets ul li {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                padding: 0;
                display: inline-block;                
                box-sizing: content-box;
                cursor: pointer;
                background-color: #fff;
                border: 8px solid #f4eba6;}
                 

                .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-bullets ul li.complete {
                    background-color: #7b7121;
                }

                .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-bullets ul li.current {
                    background-color: #7b7121;                    
                }

                .guided-tour-step.active .guided-tour-step-tooltip .guided-tour-step-tooltip-inner .guided-tour-step-bullets ul li:last-of-type {
                    margin-right: 0
                }

.guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-none .guided-tour-step-tooltip-inner .guided-tour-arrow {
    display: none
}

.guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-top .guided-tour-step-tooltip-inner .guided-tour-arrow {
    top: 0;
    margin-top: -18px
}

    .guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-top .guided-tour-step-tooltip-inner .guided-tour-arrow .guided-tour-arrow-inner {
        width: 18px;
        height: 18px;
        position: relative;
        overflow: hidden;
        background: transparent
    }

        .guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-top .guided-tour-step-tooltip-inner .guided-tour-arrow .guided-tour-arrow-inner::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            background: var(--tourguide-background);
            transform: rotate(225deg);
            top: 13px;
            left: 4px;
            box-shadow: 1px 1px 6px -3px #000
        }

.guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-bottom .guided-tour-step-tooltip-inner .guided-tour-arrow {
    margin-bottom: -18px;
    bottom: 0
}

    .guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-bottom .guided-tour-step-tooltip-inner .guided-tour-arrow .guided-tour-arrow-inner {
        width: 18px;
        height: 18px;
        position: relative;
        overflow: hidden;
        background: transparent
    }

 .guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-bottom .guided-tour-step-tooltip-inner .guided-tour-arrow .guided-tour-arrow-inner::after {
            content: "";  position: absolute;  width: 12px; height: 12px;
            background: var(--tourguide-background);
            transform: rotate(45deg);
            top: -6px;
            left: 4px;
            box-shadow: 1px 1px 6px -3px #000
        }


.guided-tour-step-content {
    color: #000;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
}

/*Sushil 21june background color change background-color: #f4eba6;*/
.guided-tour-step-footer .guided-tour-step-bullets {
    display: none;
}
/*Sushil 21june background color change*/


.guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-top .guided-tour-step-tooltip-inner .guided-tour-arrow .guided-tour-arrow-inner::after, .guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-bottom .guided-tour-step-tooltip-inner .guided-tour-arrow .guided-tour-arrow-inner::after, .guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-left .guided-tour-step-tooltip-inner .guided-tour-arrow .guided-tour-arrow-inner::after, .guided-tour-step.active .guided-tour-step-tooltip.guided-tour-arrow-right .guided-tour-step-tooltip-inner .guided-tour-arrow .guided-tour-arrow-inner::after {
    background: #ffffff;
}

.guided-tour-step-content a {
    background: #6d6c6c;
    color: white;
    padding: 6px 28px;
    margin: 0px 3px 5px 0px;
}

a[href="/Ticketing/Index"] {
    background: #cc7d38 !important;
}

