@using TALYGEN.Models;
@{
    ViewBag.Title = "Stealth Mode Activity Tracking | Monitask | Silent Application";
    ViewBag.MetaTitle = "Stealth Mode Activity Tracking | Monitask | Silent Application";
    ViewBag.MetaDescription = "Optimize workflow with our web-based Silent App. In stealth mode, track employee activities, capture screenshots, and analyze productivity seamlessly.";
    ViewBag.MetaKeywords = "Silent Application, Stealth Employee Monitoring Software , User Activity Monitoring Software";    
    Layout = "~/Views/LandingPages/LPShared/_MasterLayoutFestiveTheme2024Pink.cshtml"; 
    string tagType = "ActivityTracking";
    string VisitorCode = "uD3HNwBSkPjVlgZpdr1duA%3D%3D";
	string ad="";
    ad = Convert.ToString ( Context.Request.Query["sapp"]);
}


<section class="innerpage-banner">
	 <div class="container">	 
		<div class="banner-tit">Features</div>

		<ul class="breadcrum">
			<li><a href="/">Home</a></li>
			<li><i class="fa fa-chevron-right"></i></li>
			<li>Features</li>		
		</ul>
	 </div>
</section>

<section class="features section-white silentfeature">
	 <div class="container">	
		<div class="row">
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/websitetr.png"  alt="logo"></div>
					<h4>Application & Website Tracking</h4>
					<p>Monitors which apps and websites users access during work hours.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/productivty.png"  alt="logo"></div>
					<h4>Productivity Tracking</h4>
					<p>Measures overall work output and efficiency.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/manage-pro.png"  alt="logo"></div>
					<h4>Manage Productivity</h4>
					<p>Provides tools and insights to improve individual and team productivity.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/keystroke.png"  alt="logo"></div>
					<h4>Keystrokes Tracking</h4>
					<p>Records every key typed on the keyboard, including sensitive information.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/user-track.png"  alt="logo"></div>
					<h4>User Activity Tracking</h4>
					<p>Logs actions taken by users on their computers, such as file operations or mouse movements.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/automatic-video-capturing.png"  alt="logo"></div>
					<h4>Automated Video Capturing</h4>
					<p>Records the user's screen in real-time to monitor activity.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/automatic-screenshot-capturing.png"  alt="logo"></div>
					<h4>Automatic Screenshot Capturing</h4>
					<p>Takes periodic screenshots of the user's screen to track progress and activity.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/Idle-time-tracking.png"  alt="logo"></div>
					<h4>Idle Time Tracking</h4>
					<p>Monitors periods of inactivity during work hours to assess engagement.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/Unlimited-Client-Account.png"  alt="logo"></div>
					<h4>Unlimited Client Accounts</h4>
					<p>Manage an unlimited number of client accounts for your business or service.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/system-track.png"  alt="logo"></div>
					<h4>Local System Tracking</h4>
					<p>Monitor and track activities on a local system outside company domain for security or analysis purposes.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/Offline-Tracking.png"  alt="logo"></div>
					<h4>Offline Tracking</h4>
					<p>Track and record data even when the device is not connected to the internet.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/Stealth.png"  alt="logo"></div>
					<h4>Stealth Mode Operation</h4>
					<p>Operate discreetly without alerting users, ensuring covert monitoring or data collection.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/microphone.png"  alt="logo"></div>
					<h4>Audio recording</h4>
					<p>Audio recording captures sounds associated with the activity such as capturing audio during video conferencing or listening to keystrokes for password.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/live.png"  alt="logo"></div>
					<h4>Live View</h4>
					<p>The Live View feature allows users to monitor activities in real-time through a live feed. This functionality ensures that users can instantly observe and analyse ongoing events without any delay.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/manual-recording.png"  alt="manual-recording"></div>
					<h4>Manual Recording</h4>
					<p>With the Manual Recording feature, users have the flexibility to start and stop recording at any moment. This capability allows for precise documentation of specific activities or events as needed</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/screenshot.png"  alt="screenshot"></div>
					<h4>Manual Screenshot</h4>
					<p>The Manual Screenshot feature enables users to take snapshots of the live feed at any given time. This feature is perfect for capturing specific frames or important moments quickly and efficiently.</p>
					</a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/video.png"  alt="video"></div>
					<h4>Video Downloading</h4>
					<p>The Video Downloading feature allows users to download recorded videos directly to their device for offline viewing and storage. This feature ensures that users can keep a local copy of important recordings.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/real-time.png"  alt="real-time"></div>
					<h4>Live User Tracking</h4>
					<p>The Live User Tracking feature allows users to monitor the real-time activities and movements of individuals within the system. This feature provides details like application used, productivity status, in and out time.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/report.png"  alt="report"></div>
					<h4>Dynamic Reporting</h4>
					<p>Allows setting up automated schedules for generating productivity reports. This simplifies data analysis and helps track trends over time.</p>
					</a>
				</div>
			</div>
			
			
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/input-block.png"  alt="input-block"></div>
					<h4>Input Block</h4>
					<p>The Input Block feature enables admins to restrict or block specific user inputs like keyboard and mouse. It allows for immediate intervention to safeguard system integrity.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/logout.png"  alt="logout"></div>
					<h4>Force Logout</h4>
					<p>The Force Logout feature allows admin to remotely log out users from the system forcibly. This is particularly useful in scenarios where a user's session poses a security risk, or in case of inactivity or non-compliance with company policies.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/project-tracking.png"  alt="project-tracking"></div>
					<h4>Project Tracking</h4>
					<p>User will not be able to track time automatically against a default project assigned by the Admin or project manager.</p>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/systemtracking.png"  alt="systemtracking"></div>
					<h4>System Tracking</h4>
					<p>Track system information of the user like system name, IP address, operating system.</p>
					</a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 mb-3">
				<div class="card">
					<a href="">
					<div class="icon-radius"><img src="~/FestiveTheme/assets/images/notification-alert.png"  alt="notification-alert"></div>
					<h4>Notification Alerts</h4>
					<p>The Notification feature keeps users informed with real-time alerts and updates about system activities, security events, and other important information.</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

