@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
* {border: 0; 	margin: 0; 	padding: 0; 	font-family: inherit; 	font-size: 100%; 	font-weight: inherit; 	vertical-align: baseline; 	box-sizing: border-box; 	-moz-box-sizing: border-box; 	-webkit-box-sizing: border-box }
::-moz-selection { background: none;}
::selection { background: none;}
body {line-height: 1}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block}
audio, canvas, video {display: inline-block; vertical-align: baseline;	zoom: 1; *display:inline; *vertical-align:auto}
audio:not([controls]) {display: none;	height: 0}
[hidden] {display: none}
html {font-family:  'Poppins', sans-serif !important;	-webkit-text-size-adjust: 100%;	-ms-text-size-adjust: 100%}
body {margin: 0}
/*a:focus {outline: thin dotted}*/
a:focus {outline: 0}
a:hover, a:active {	outline: 0}
abbr[title] {border-bottom: 1px dotted}
b, strong {	font-weight: 700}
dfn {font-style: italic}
hr {-moz-box-sizing: content-box; box-sizing: content-box; height: 0 }
mark {background: #FF0; 	color: #000}
p, pre {margin: 1em 0 }
code, kbd, pre, samp {font-family: 'Poppins', sans-serif !important; 	font-size: 1em}
pre {white-space: pre-wrap }
q {	quotes: "\201C" "\201D" "\2018" "\2019"}
small {font-size: 80%}
sub, sup {font-size: 75%;	line-height: 0;	position: relative;	vertical-align: baseline}
sup {top: -0.5em}
sub {bottom: -0.25em}
img {border: 0}
svg:not(:root) {overflow: hidden}
body {font-family:  'Poppins', sans-serif !important;}
.hide {	display: none}
.btn-group {position: relative;	display: inline-block; *display:inline; *zoom:1;	font-size: 0;	vertical-align: middle;	white-space: nowrap; *margin-left:.3em }
.btn-group:first-child {*margin-left:0 }
.btn-group+.btn-group {	margin-left: 5px }
.btn-toolbar {	font-size: 0;	margin-top: 10px;	margin-bottom: 10px}
.btn-toolbar>.btn+.btn, .btn-toolbar>.btn-group+.btn, .btn-toolbar>.btn+.btn-group {	margin-left: 5px}
.btn-group>.btn {position: relative;	-webkit-border-radius: 0;	-moz-border-radius: 0;	border-radius: 0}
.btn-group>.btn+.btn {	margin-left: -1px}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {font-size: 14px}
.btn-group>.btn-mini {font-size: 10.5px}
.btn-group>.btn-small {	font-size: 11.9px}
.btn-group>.btn-large {	font-size: 17.5px}
.btn-group>.btn:first-child {margin-left: 0;	-webkit-border-top-left-radius: 0px;	-moz-border-radius-topleft: 0px;	border-top-left-radius: 0px;	-webkit-border-bottom-left-radius: 0px;	-moz-border-radius-bottomleft: 0px;	border-bottom-left-radius: 0px}
.btn-group>.btn:last-child, .btn-group>.dropdown-toggle {-webkit-border-top-right-radius: 0px;	-moz-border-radius-topright: 0px;	border-top-right-radius: 0px;	-webkit-border-bottom-right-radius: 0px; -moz-border-radius-bottomright: 0px;	border-bottom-right-radius: 0px}
[class^="icon-"], [class*=" icon-"] {	display: inline-block;	width: 14px;	height: 14px; *margin-right:.3em; 	line-height: 14px;	vertical-align: text-top;	background-image: url(images/c_sprite.png);	background-position: 14px 14px;	background-repeat: no-repeat;	margin-top: 1px}
.btn {	display: inline-block; *display:inline; *zoom:1;	padding:7px 7px;	margin-bottom: 0;	font-size: 14px;	line-height: 20px;	text-align: center;	vertical-align: middle;	cursor: pointer;	color: #333333;	background-color: whitesmoke;	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);	background-image: -o-linear-gradient(top, #fff, #e6e6e6);	background-image: linear, to bottom, white, #e6e6e6;	background-repeat: repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);	border-color: #e6e6e6 #e6e6e6 #bfbfbf;	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);	border: 1px solid #cccccc;*border:0;	border-bottom-color: #b3b3b3;	-webkit-border-radius: 4px;	-moz-border-radius: 4px; border-radius: 4px;*margin-left:.3em; 	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05); 	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05)}	/*text-shadow: 0 1px 1px rgba(255,255,255,0.75);*/
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {	color: #333333;	background-color: #e6e6e6;*background-color:#d9d9d9}
.btn:active, .btn.active {	background-color: #cccccc \9}
.btn:first-child {*margin-left:0}
.btn:hover, .btn:focus {	color: #333333;	text-decoration: none;	background-position: 0 -15px;	-webkit-transition: background-position 0.1s linear;	-moz-transition: background-position 0.1s linear;	-o-transition: background-position 0.1s linear;	transition: background-position 0.1s linear}
.btn:focus {	outline: thin dotted #333;	outline: 5px auto -webkit-focus-ring-color;	outline-offset: -2px}
.btn.active, .btn:active {	background-image: none;	outline: 0;	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05)}
.btn.disabled, .btn[disabled] {	cursor: default;	background-image: none;	opacity: 0.65;	filter: alpha(opacity=65);	-webkit-box-shadow: none;	-moz-box-shadow: none;	box-shadow: none}
.icon-chevron-left {	background-position: -432px -72px}
.icon-chevron-right {	background-position: -456px -72px}
#calendar.daily section .cal-unit {	background: #f3f5f4;	border-bottom: 1px solid lightgrey;	border-left: 1px solid lightgrey;	overflow: visible;	position: relative;	text-align: center}
#calendar.daily section .cal-unit.unavailable {	background: #ececec}
#calendar.daily section .cal-unit.current {	color: #ff9900}
#calendar.daily section {float: left;	margin-left: 250px;	padding-top: 90px}
#calendar.daily section header {background: url("images/grey-texture.gif"); 	border-bottom: 1px solid #bababa;	box-shadow: none;	height: 90px;	left: 0;	 position:relative; 	padding-left: 0px;		right: 0;	top:0px;	z-index: 100}
#calendar.daily>header {background: #333335;	height: 77px;	left: 0;	position: fixed;	right: 0;	top: 0px;	z-index: 201;	overflow: visible}
#calendar.daily>header nav { height: 77px;    min-width: 990px;    overflow: visible;    padding: 0px;}
#calendar.daily>header .color-by, #calendar.daily>header .filters, #calendar.daily>header .months, #calendar.daily>header .years, #calendar.daily>header .zoom {float: left; *zoom:1}
#calendar.daily>header .color-by:before, #calendar.daily>header .color-by:after, #calendar.daily>header .filters:before, #calendar.daily>header .filters:after, #calendar.daily>header .months:before, #calendar.daily>header .months:after, #calendar.daily>header .years:before, #calendar.daily>header .years:after, #calendar.daily>header .zoom:before, #calendar.daily>header .zoom:after {display: table;	content: "";	line-height: 0}
#calendar.daily>header .color-by:after, #calendar.daily>header .filters:after, #calendar.daily>header .months:after, #calendar.daily>header .years:after, #calendar.daily>header .zoom:after {clear: both}
#calendar.daily>header .filters li, #calendar.daily>header .months li, #calendar.daily>header .zoom li {font-size: 0;	display: block;	float: left}
#calendar.daily>header .filters li a, #calendar.daily>header .months li a, #calendar.daily>header .zoom li a {color: #686868;	display: block;	font-size: 13px;	height: 37px;	line-height: 37px;	text-align: center;	text-decoration: none}
#calendar.daily>header .filters li a:hover, #calendar.daily>header .months li a:hover, #calendar.daily>header .zoom li a:hover {	background-color: #313131}
#calendar.daily>header .filters li.active a, #calendar.daily>header .filters li.active a:hover, #calendar.daily>header .months li.active a, #calendar.daily>header .months li.active a:hover, #calendar.daily>header .zoom li.active a, #calendar.daily>header .zoom li.active a:hover {background-color: #313131}
#calendar.daily>header .years, #calendar.daily>header .color-by {height: 37px;	position: relative}
#calendar.daily>header .months li a {width: 32px}
#calendar.daily>header .zoom, #calendar.daily>header .color-by {margin-right: 8px}
#calendar.daily>header .filters li a {background: url("images/filter-down-arrows.png") no-repeat 90% 50%;	color: #333333;	padding: 0 30px 0 10px}
#calendar.daily>header .filters, #calendar.daily>header .color-by, #calendar.daily>header .zoom {float: right}

#calendar.daily .large-controls .previous-timeperiods, #calendar.daily .large-controls .next-timeperiods {background-image: url("images/loading-timeperiods.png");	background-color: rgba(0,0,0,0.3);	background-position: left 50%;	background-repeat: no-repeat;	bottom: 0;	cursor: pointer;	position: fixed;	top: 167px;	width: 40px;	z-index: 99}
#calendar.daily .large-controls .previous-timeperiods:hover, #calendar.daily .large-controls .next-timeperiods:hover {background-color: rgba(0,0,0,0.35)}
#calendar.daily .large-controls .previous-timeperiods {background-position: left 50%;	left: 250px;	right: auto}
#calendar.daily .large-controls .previous-timeperiods.loading {	background-position: -40px 50%}
#calendar.daily .large-controls .next-timeperiods {background-position: -80px 50%;	left: auto;	right: 0}
#calendar.daily .large-controls .next-timeperiods.loading {background-position: -120px 50%}
#calendar.daily .large-controls .previous-resources, #calendar.daily .large-controls .next-resources {background-image: url("images/loading-resources.png");	background-color: rgba(0,0,0,0.3);	background-position: 50% -40px;	background-repeat: no-repeat;	left: 250px;	cursor: pointer;	height: 40px;	position: fixed;	right: 0;	z-index: 99}
#calendar.daily .large-controls .previous-resources:hover, #calendar.daily .large-controls .next-resources:hover {background-color: rgba(0,0,0,0.35)}
#calendar.daily .large-controls .previous-resources {background-position: 50% -40px; bottom: auto;	top: 167px}
#calendar.daily .large-controls .previous-resources.loading {background-position: 50% top}
#calendar.daily .large-controls .next-resources {background-position: 50% -120px;	bottom: 0;	top: auto}
#calendar.daily .large-controls .next-resources.loading {background-position: 50% -80px}
#calendar.daily aside {background: #f4f4f4;	border-right: 1px solid #cfcfcf;	bottom: 0;	color: #353535;	left: 0;	overflow: hidden;	padding-top: 90px;	position: fixed!important;	top:0px;	width: 250px;	z-index: 100}
#calendar.daily aside .resource {border-bottom: 1px solid #cfcfcf;	clear: both;	height: 70px;	padding-left: 10px;	position: relative}
#calendar.daily aside .resource img {float: left;	height: 50px;	margin-right: 10px;	border-radius:500px;margin-top: 10px;	width: 50px}
#calendar.daily aside .resource h3 {font-size: 14px;	font-weight: 700;	height: 25px;	overflow: hidden;	padding: 10px 5px 0 0;	text-overflow: ellipsis;	white-space: nowrap}
#calendar.daily aside .resource h4 {display: block;	font-size: 12px;	margin-top: 2px}
#calendar.daily aside .resource p {	color: #777777;	font-size: 11px;	margin: 4px 0 0;	padding: 0}
#calendar.daily section {float: left;	margin-left: 250px;	padding-top: 122px}
#calendar.daily section header {	background: url("images/grey-texture.gif");	border-bottom: 1px solid #bababa;	box-shadow:none;	height: 90px;	left: 0;		padding-left:0px;	position:relative; 	right: 0;	top: 0px;	z-index: 100}
#calendar.daily section header nav.date-controls {background: url("images/grey-texture.gif");	border-right: 1px solid #cfcfcf;	 border-bottom:1px solid #dadada; height: 90px;	left: 0;	padding: 30px 0 0 5px;	position: fixed;	top: 181px;	width: 250px;	z-index: 101}/*top: 122px; 8Oct20 Harjit*/
#calendar.daily section header nav.date-controls a.current {font-size: 16px; margin-right: 10px;	color: #ff9900;	text-decoration: none}
#calendar.daily section header nav.date-controls a.current:hover {text-decoration: underline;	color: #516313}
#calendar.daily section  #time-periods {font-size: 0}
#calendar.daily section  #time-periods .unit-group {/*border-left: 1px solid #b4b4b4;*/	display: inline-block;	width: 280px}
#calendar.daily section  #time-periods .unit-group h2 {margin-bottom:0px; color: #fff; 	font-size: 17px;   	height: 45px;	padding: 15px 10px 0;}/*background-color:rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
#calendar.daily section  #time-periods .unit-group .units {	font-size: 0}
#calendar.daily section  #time-periods .unit-group .units .cal-unit {background: transparent;	border-left: 1px dashed rgba(180,180,180,0.6);	display: inline-block;	height: 45px;	padding: 12px 0 0;	width: 40px}/*padding: 5px 0 0;*/
#calendar.daily section  #time-periods .unit-group .units .cal-unit:first-child {border-left: 0;	width: 39px}
#calendar.daily section  #time-periods .unit-group .units span {	display: block;	text-align: center}
#calendar.daily section  #time-periods .unit-group .units span.dname {color: #000;	font-size: 11px;	font-weight: 600;	margin-bottom: 10px}
#calendar.daily section  #time-periods .unit-group .units span.ddate {	color: #404040;	font-size: 14px}
#calendar.daily section  #time-periods .unit-group .units .current span {	color: #ffffff  !important;}
#calendar.daily section #resources {display: table;	margin-top: 60px}
#calendar.daily section #resources .resource-line {	display: table-row}
.resources--cal-unit {background: #f3f5f4;	border-bottom: 1px solid lightgrey;	border-left: 1px solid lightgrey;	cursor: pointer;	display: table-cell;	height: auto;	overflow: visible;	padding-bottom: 30px;	position: relative;	position: relative;	text-align: center;	vertical-align: top;	width: 40px}
.resources--cal-unit.current {	color: #ff9900}
.resources--cal-unit.drag-drop-target {	background: #dddddd;	cursor: pointer}
.resources--cal-unit .utilisation {background: #e5e5e5;	/*border-bottom: 1px solid lightgrey;*/	color: #767676;	font-size: 10px;	height: 52px;	padding: 10px 0 0;	position: relative}
.resources--cal-unit .utilisation .time-available {background: white;	bottom: 0;	visibility: hidden;	left: 0;	line-height: 1;	padding: 3px 0 0;	position: absolute;	text-align: center;	top: 0;	vertical-align: middle;	width: 100%}
.resources--cal-unit .utilisation .time-available small {	display: block}
.resources--cal-unit .utilisation .unit {	background: white;	margin-bottom: 1px}
.resources--cal-unit .utilisation .unit span {	background: #5f5f5f;	display: block;	height: 10px}
.resources--cal-unit.hover .utilisation .time-available {	visibility: visible}
#calendar.daily section #resources .resource-line .bookings .booking-anchor {height: 14px;	margin-bottom: 30px;	position: relative;	width: 16px}
#calendar.daily section #resources .resource-line .bookings .booking-anchor a {color: #ff9900;	text-decoration: underline}
#calendar.daily section #resources .resource-line .bookings .booking-anchor a:hover {	text-decoration: none}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking {background: transparent url("images/booking-background.png") repeat-x left top;	border-radius: 0px;	border: 1px solid #B08246;	height: 38px;	left: -1px;	position: absolute;	top: -1px;	z-index: 20;}    /*min-width:40px;  removed by deepak and harjit for single block*/ 
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.hover {background-image: none;	background-color: #f9f9f9}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.mine .label {font-weight: 300}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.no-begin {-webkit-border-top-left-radius: 0;	-moz-border-radius-topleft: 0;	border-top-left-radius: 0;	-webkit-border-bottom-left-radius: 0;	-moz-border-radius-bottomleft: 0;	border-bottom-left-radius: 0}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.no-end {-webkit-border-top-right-radius: 0;	-moz-border-radius-topright: 0;	border-top-right-radius: 0;	-webkit-border-bottom-right-radius: 0;	-moz-border-radius-bottomright: 0;	border-bottom-right-radius: 0}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .blocks {font-size: 0;	position: relative;	text-align: left;	overflow: hidden}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .blocks .unit {display: inline-block;	height: 36px;	padding-top: 2px;	text-align: left;	vertical-align: top;	width: 40px}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .blocks .unit span {display: block;	height: 5px;	margin-bottom: 1px}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .blocks .unit:last-child {width: 39px}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .blocks .unit.waiting-list {background-image: url("images/waitlist-exclamation-small.png");	background-repeat: no-repeat;	background-position: 50% 87%}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .blocks .unit.waiting-list span {opacity: 0.4}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking {cursor: pointer}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking * {cursor: pointer;color:#fff;}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking .ui-resizable-e {cursor: col-resize; display:block;width: 2px;	right: 0; position:absolute; z-index:1000 !important;}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking .ui-resizable-w {cursor: col-resize;	width: 5px;	left: 0}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-resizable-resizing {z-index: 30;	cursor: col-resize}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-resizable-resizing .unit {display: none}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-resizable-resizing * {cursor: col-resize}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-resizable-resizing.no-drop {	cursor: no-drop}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-resizable-resizing.no-drop * {cursor: no-drop}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-draggable-dragging {	z-index: 30;	cursor: move}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-draggable-dragging * {cursor: move}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-draggable-dragging.copying {	cursor: copy}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-draggable-dragging.copying * {cursor: copy}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-draggable-dragging.no-drop {	cursor: no-drop}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .booking.ui-draggable-dragging.no-drop * {cursor: no-drop}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .label {color: #000;		left: 0;	margin: 3px 3px 0;	overflow: hidden;	position: absolute;	right: 0;	text-align: left;	text-overflow: ellipsis;	top: 20px;	white-space: nowrap}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .label .label__time {	}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .label.label--bold, #calendar.daily section #resources .resource-line .bookings .booking-anchor .label .label--bold {font-weight: 700}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .label.daily {display: block}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .label.detailed {display: none;	line-height: 15px}
#calendar.daily section #resources .resource-line .bookings .booking-anchor .label img {	height: 11px;	vertical-align: top}
#calendar.daily section #resources .resource-line .bookings .waitlist-anchor {height: 14px;	margin-bottom: 23px;	position: relative;	width: 16px}
#calendar.daily section #resources .resource-line .bookings .waitlist-anchor .waitlist {	height: 38px;	left: 0;	position: absolute;	top: 0;	z-index: 20}
#calendar.daily section #resources .resource-line .bookings .waitlist-anchor .blocks {font-size: 0;	text-align: left}
#calendar.daily section #resources .resource-line .bookings .waitlist-anchor .blocks .unit {background: url("images/waitlist.png") no-repeat 50% 50%;	cursor: default;	display: inline-block;	height: 36px;	width: 40px}

#calendar-modal-booking header h3 {float: left;	overflow: hidden;	text-overflow: ellipsis;	white-space: nowrap;	width: 55%}
#calendar-modal-split header {border: none}
#calendar-modal-split header h3 {font-weight: 500;	text-align: center}
#calendar-modal-split main {padding-bottom: 30px;	position: relative}
#calendar-modal-split main div:first-child {background: url("images/split-block.png") no-repeat left top, url("images/split-block.png") no-repeat right -100px;	position: absolute;	width: 100%;	height: 100%;	top: 0;	left: 0}
#calendar-modal-new-project main form input[type="text"] {min-width: 220px}
#calendar-modal-new-client main form input[type="text"] {min-width: 240px}
#details {word-wrap: break-word;	overflow: auto;	max-height: 250px}
#details a {color: #ff9900; text-decoration: none}
#details a:hover {text-decoration: underline}
#calendar.detailed aside {	padding-top: 90px}
#calendar.detailed section {padding-top: 70px}
#calendar.detailed section header {height:90px}
#calendar.detailed section header nav.date-controls {	height: 89px;	}
#calendar.detailed section header #time-periods .unit-group {	width: 1120px}
#calendar.detailed section header #time-periods .unit-group h2 {height: 52px}
#calendar.detailed section header #time-periods .unit-group .units .cal-unit {	height: 38px;	position: relative;	width: 160px}
#calendar.detailed section header #time-periods .unit-group .units .cal-unit:first-child {	border-left: 0;	width: 159px}
#calendar.detailed section header #time-periods .unit-group .units span {display: block;	position: absolute;	text-align: left}
#calendar.detailed section header #time-periods .unit-group .units span.dname, #calendar.detailed section header #time-periods .unit-group .units span.ddate {color: #3d3d3d;font-size: 16px; font-weight: 500; left: 10px; margin: 0; top: 5px}
#calendar.detailed section header #time-periods .unit-group .units span.ddate {width: 25px}
#calendar.detailed section header #time-periods .unit-group .units span.dname {	left: 33px}
#calendar.detailed section header #time-periods .unit-group .units .current span {color: #ff9900}
#calendar.detailed section header #time-periods .unit-group .units .current span.ddate:before {content: "Today "}
#calendar.detailed section header #time-periods .unit-group .units .current span.ddate {width: 70px}
#calendar.detailed section header #time-periods .unit-group .units .current span.dname {left: 78px}
#calendar.detailed section #resources .resource-line .bookings .booking-anchor {	margin-bottom: 30px}
#calendar.detailed section #resources .resource-line .bookings .booking-anchor a {color: #ff9900;	text-decoration: underline}
#calendar.detailed section #resources .resource-line .bookings .booking-anchor a:hover {text-decoration: none}
#calendar.detailed section #resources .resource-line .bookings .booking-anchor .label.daily {display: none}
#calendar.detailed section #resources .resource-line .bookings .booking-anchor .label.detailed {display: block}
#calendar.detailed section #resources .resource-line .bookings .booking-anchor .booking {height: 38px}
#calendar.detailed section #resources .resource-line .bookings .booking-anchor .blocks .unit {height: 70px;	width: 160px}
#calendar.detailed section #resources .resource-line .bookings .booking-anchor .blocks .unit:last-child {	width: 159px}
#calendar.detailed section #resources .resource-line .bookings .booking-anchor .blocks .unit.waiting-list {background-image: url("images/waitlist-exclamation.png"); background-repeat: no-repeat;	background-position: 50% 55%;	cursor: default}
#calendar.detailed section #resources .resource-line .bookings .waitlist-anchor .blocks .unit {background-image: url("images/waitlist-detailed.png");	cursor: default;	width: 160px}
#calendar.detailed .resources--cal-unit {width: 160px}
#calendar.detailed .resources--cal-unit .utilisation .time-available {font-size: 12px;font-weight: 700}
#calendar.detailed .resources--cal-unit .utilisation .time-available small {font-weight: 400}
#calendar.detailed .large-controls .previous-timeperiods, #calendar.detailed .large-controls .next-timeperiods, #calendar.detailed .large-controls .previous-resources {top: 137px}
#loader {background: #fff url("images/loader.gif") no-repeat 50% 20%;	height: 100%;	left: 0;	position: fixed;	top: 77px;	width: 100%;	z-index: 10000}
.date-validation {left: 140px;	position: absolute}
.chzn-search input {height: auto;	width: 100%}
.wrapped-notes {	word-wrap: break-word;	width: 480px;	max-height: 254px;	overflow: auto}
.profile-image input[type='file'] {line-height: 0px}
.help-inline__no-float .help-inline {clear: both; float: none}




#resources .resource-line:nth-child(odd) {background:#cfcfcf;}
aside .resource:nth-child(odd) {background: #FFF}
ul.megaMenu > li > a{box-sizing:initial; -webkit-box-sizing:initial; -moz-box-sizing:initial;}
.mydp_dwn ul li {box-sizing:initial; -webkit-box-sizing:initial; -moz-box-sizing:initial;}
.mydp_dwn ul li a{box-sizing:initial; -webkit-box-sizing:initial; -moz-box-sizing:initial;}
#megaMenu ul ul.sub-menu{box-sizing:initial; -webkit-box-sizing:initial; -moz-box-sizing:initial;}
#megaMenu ul li.menu-item {box-sizing:initial; -webkit-box-sizing:initial; -moz-box-sizing:initial;}

.zoom{ display: inline-block;     font-size: 0;    position: relative;    vertical-align: middle;    white-space: nowrap; }
.zoom li{display:inline-block; padding:0px; margin:0px;}
.zoom li a{width:20px; height:20px; margin:2px 6px 1px;  float:left; background-image:url(images/zoominZoomout.png); background-repeat:no-repeat; overflow:hidden; text-decoration:none;display:block; }
.zoom li.zoom__daily  a{background-position:0px -20px;}
.zoom li.zoom__detailed  a{background-position:-20px -20px;}
.zoom li.zoom__daily:hover  a{background-position:0px 0px;}
.zoom li.zoom__detailed:hover  a{background-position:-20px 0px;}
.zoom li.zoom__daily.selectedd  a{background-position:0px 0px;}
.zoom li.zoom__detailed.selectedd  a{background-position:-20px 0px;}
.dialogHeader{ background-color: rgba(0, 0, 0, 0.1); background-image: url("images/cl_icon.png");    background-position: 3px 8px;    background-repeat: no-repeat;    margin: 0 !important;    min-width: 117px;    padding: 0.4em 8px 0.4em 28px;}
.zoom li.save_res  a{background-position:-20px -60px;}
.zoom li.switch_users  a{background-position:0px -60px;}
.zoom li.save_res  a:hover{background-position:-20px -40px;}
.zoom li.switch_users  a:hover{background-position:0px -40px;}

@media (max-width:1366px) 
{
fieldset label.off { padding: 2px 0 0 24px;}
fieldset label.check{ padding: 2px 0 0 24px;}

}

header nav.date-controls{ padding:0px 0 0 5px!important;}
header nav.date-controls table td{padding:7px!important;}
header nav.date-controls table td.bodnone{ border:0px!important;}

.zoom li.user_guide  a{background-position:-7px -89px; height:24px; width:27px; }

.zoom li.user_guide  a:hover{background-position:-7px -122px; height:24px; width:27px; }
.invcheader div a.userguideicon {
    background-position: -370px -380px;
}
.invcheader div a {
    background-image: url("/Content/images/new_sprite.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #fff;
    display: inline-block;
    font-size: 11px !important;
    font-weight: normal;
    height: auto;
    padding-bottom: 0px;
    padding-top: 32px;
    text-align: center;
    width: 100%;
}
/*.resourceschedule div a {
    padding-bottom: 18px !important;
}*/

/********** For Off days Calendar***********/
.off_day_container{width:665px; float:left; margin:0px; padding:10px; height:280px;  -webkit-box-sizing: border-box; position:relative;  -moz-box-sizing: border-box;   overflow-y:auto;  box-sizing: border-box; border:1px solid #6b6b6b;}
.off_day_container input[type=radio], .off_day_container input[type=checkbox] {display: none;}
.off_day_container input[type=radio] + label, .off_day_container input[type=checkbox] + label {	display: inline-block;	margin: 0;	padding: 0;	margin-bottom: 0;	font-size: 14px;	line-height: 26px;	color: #313131; text-align: center;	 vertical-align: middle; cursor: pointer;	background-color: #f1f1f1;	height:100%; width:100%; }
.off_day_container input[type=radio]:checked + label, .off_day_container input[type=checkbox]:checked + label {outline: 0;	background-color: #96c83c;	color:#fff;}
.off_day_container input[type=radio]:disabled + label, .off_day_container input[type=checkbox]:disabled + label {	outline: 0;	background-color: #f1f1f1; color:#919191;	cursor: not-allowed;	opacity:0.5;}





.off_day_left{width:344px; /*361*/ height:auto; float:left; margin:0px; padding:0px 10px 0px 0px;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;     box-sizing: border-box;}
.off_day_leftmain{width:100%; cursor:pointer; height:40px; float:left; padding:5px; margin-bottom:7px;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;     box-sizing: border-box; background:#f1f1f1; border:1px solid #cccccc;}
.off_day_leftmain:hover{background:#e6e6e6;}
.off_day_leftmain.selected{background:#e6e6e6;}
.off_day_leftmainChk{ width:30px; height:30px; border:2px solid #d4d4d4; line-height:24px;  margin:0px; padding:0px; vertical-align:middle; font-size:12px; float:right; text-align:center; color:#444; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;     box-sizing: border-box; }



.off_day_leftmainChk input[type=radio] + label, .off_day_leftmainChk input[type=checkbox] + label {	display: inline-block;	margin: 0;	padding: 0;	margin-bottom: 0;	font-size: 14px;	line-height: 26px;	color: #313131; text-align: center;	 vertical-align: middle; cursor: pointer;	background-color: #f1f1f1;	height:100%; width:100%; }
.off_day_leftmainChk input[type=radio]:checked + label, .off_day_leftmainChk input[type=checkbox]:checked + label {outline: 0;	background:none; background-image:url(images/RS_Check.png); background-repeat:no-repeat; background-position:center center;	color:#fff;}




.off_day_calender{width:282px; height:260px; float:left; margin:0px; padding:0px;   position: absolute;    right: 5px;    top: 10px; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;     box-sizing: border-box; border:1px solid #6b6b6b;}
.off_day_calenderHeader{width:100%; height:40px; float:left; line-height:40px; text-align:center; font-weight:bold; vertical-align:middle; color:#fff; background:#444; }
.off_day_calenderdays{width:100%; height:30px; float:left;}
.off_day_calenderday{ width:40px; height:30px; border:2px solid #fff; line-height:26px;  margin:0px; padding:0px; vertical-align:middle; font-size:12px; float:left; text-align:center; color:#444; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;     box-sizing: border-box; }
.off_day_calenderdates{width:100%; height:30px; float:left;}
.off_day_calenderdate{ width:40px; height:30px; border:2px solid #fff; line-height:26px;  margin:0px; padding:0px; vertical-align:middle; font-size:12px; float:left; text-align:center; color:#444; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;     box-sizing: border-box; }

/********** For Off days Calendar***********/   
.resources--cal-unit.unavailable{background:#eaeaea !important;}


#calendar.roadmap section{padding-top:125px!important;} /*182px*/  
/*#calendar.roadmap section{padding-top:2px;}Harjit commented*/ 

#calendar.roadmap{}
#calendar.roadmap aside .resource{line-height: 40px;    text-align: right;}
#calendar.roadmap aside .resource h3{height:auto;}
#calendar.roadmap section #resources{margin-top:115px;}
#calendar.roadmap section header nav.roadProjectmap{color: #4f4f4f;   font-size: 30px;   padding:5px !important;}

.pageheading{  color: #fff;    display: inline-block;   float: left;   font-size: 20px;    line-height: 44px;    padding: 3px 8px 0;text-align:left;}
.rmapzoom{float:left; margin:0px; padding:0px; list-style:none;}
.rmapzoom li{display:inline-block; line-height:49px; padding:0px 14px !important; height:auto; width:auto; float:left;}
.rmapzoom li a{color:#fff; text-decoration:none; margin:0px  !important; padding:0px  !important; outline:none; font-size:14px !important;}
.rmapzoom li.active{background:#222222;}
.rmapzoom li:hover{background:#222222;}
.rmapzoom li a:hover{background:none;}

.RM_zoomDays.active{ background:#333c40!important;}
.RM_zoomWeeks.active{background:#333c40!important;}
.RM_zoomMonths.active{background:#333c40!important;}
.RM_zoomYears.active{background:#333c40!important;}
.RM_zoomByWeekly.active{background:#333c40!important;}

#phase { border-bottom: 1px solid lightgrey;  float: left;   margin-top: 4px;  padding: 3px 4px 5px;  text-align: center;  min-width: 100%;  width:auto; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#phase ul {display: inline;   list-style: outside none none;}
#phase ul li {display: inline;}
#phase ul li a { background:#17a2b8; width:13%; color: #fff;   display: block;   float: left;   font-size: 20px;   height: 52px;    margin: 0 10px 0 0;    padding: 13px 40px 0 57px;    position: relative;   text-align: center;   text-decoration: none;}/*background: #3498db ;*/
#phase ul li a::after {  border-bottom: 26px solid transparent;   border-left: 26px solid #17a2b8;   border-top: 26px solid transparent;    content: "";    position: absolute;    right: -26px;    top: 0;    z-index: 1;}/*border-left: 26px solid #3498db;*/
#phase ul li a::before {   border-bottom: 26px solid transparent;    border-left: 26px solid #fff;    border-top: 26px solid transparent;    content: "";    left: 0;    position: absolute;    top: 0;}
#phase ul li a:hover { background: #71b7e6 ;}
#phase ul li a:hover::after { border-left-color: #71b7e6;}
.RpadMap_milestone { background: #fff;border: 2px solid #25a5ff; height: 20px; left: 9px; position: absolute; top: -10px;-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); width: 20px;z-index: 10;} 
.RpadMap_milestone.filled{background:#25a5ff;}
.dcontr {  display:table-cell; vertical-align:top;}

#calendar.daily.roadmap section #resources .resource-line .bookings .booking-anchor .booking{background:#9ad5ff; border-radius:0px; border:1px solid #9ad5ff; }/*background:#9ad5ff;border:1px solid #5da863;*/
#calendar.daily.roadmap section #resources .resource-line .bookings .booking-anchor .label{color:#313131; font-size:15px; font-weight:normal !important; text-align:center; overflow:visible; }
#calendar.daily.roadmap section #resources .resource-line .bookings .booking-anchor .booking.tasks{background:#d6a6e4; border:1px solid #ae7bbe; border-radius:0px; }
#calendar.daily.roadmap section #resources .resource-line .bookings .booking-anchor .ri-task{background:#8ce68c ; border-radius:0px; border:1px solid #8ce68c ; }
#calendar.daily.roadmap section #resources .resource-line .bookings .booking-anchor .ri-resource{background:#c79e72 ; border-radius:0px; border:1px solid #c79e72 ; }
#calendar.daily.roadmap section #resources .resource-line .bookings .booking-anchor .ri-milestone{background:#ff842d ; border-radius:0px; border:1px solid #f5751d ; }





.rmtooltip{ background-color: #e4f2fd; z-index: 100; border: 1px solid #5eacea; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; padding:5px; text-align:left;  left:40%;  min-height: 70px;   position: absolute; width: 320px;  opacity:0; display:none; transition: all 0.5s ease; bottom: 27px;  top: auto;   }/*left: 82%;*/
#calendar.daily.roadmap section #resources .resource-line .bookings:hover .rmtooltip{ opacity:1; transition: all 0.5s ease;  display:block;}
#calendar.daily.roadmap section #resources .resource-line .bookings .RMheading{width:100%; padding-bottom:5px; border-bottom:1px dashed #a9c7df;color:#000000; word-break: break-all;white-space: break-spaces;}/*word-break & white space added by Harjit - tooltip of resource impact*/
#calendar.daily.roadmap section #resources .resource-line .bookings .rmtooltip .RMcontent {width:100%; font-size:12px; line-height:20px; white-space: normal; min-height:20px;color:#000000; max-height: 150px;  overflow-y: auto;}
#calendar.daily.roadmap section #resources .resource-line .bookings .rmtooltip .RMcontentdt {width:100%; font-size:11px; line-height:16px; font-style:italic; color:#3d8ee7; text-align:right; position:relative; }
#calendar.daily.roadmap section #resources .resource-line .bookings .rmtooltip .RMcontentdt:after{  border-left: 16px solid #e4f2fd;  border-top: 30px solid transparent;   content: "";   height: 0;   position: absolute;   right: 214px;    top:57px;    -ms-transform: rotate(90deg);   -webkit-transform: rotate(90deg);    transform: rotate(90deg);    width: 100px;    z-index: 1;}
#calendar.daily.roadmap section #resources .resource-line .bookings .rmtooltip .RMcontentdt:before{  border-left: 16px solid #5eacea;  border-top: 30px solid transparent;   content: "";   height: 0;   position: absolute;   right: 214px;    top: 59px;    -ms-transform: rotate(90deg);   -webkit-transform: rotate(90deg);    transform: rotate(90deg);    width: 101px;    z-index: 1;}

#calendar.roadmap section #resources .resource-line .bookings .booking-anchor{margin-bottom:32px ;}
#calendar.roadmap section #resources .resource-line .bookings .booking-anchor .booking{height:38px;}
#calendar.roadmap section #resources .resource-line .bookings .booking-anchor .label.daily{display:block;}
#calendar.roadmap section header{height:50px;}
#calendar.roadmap aside { padding-top: 50px;}
#calendar.roadmap section header nav.date-controls{height:50px;}
#calendar.roadmap section .resources--cal-unit.unavailable{background:#efefef;}

#calendar.roadmap  section header #time-periods .unit-group{width:560px;}
#calendar.roadmap section header #time-periods .unit-group .units .cal-unit:first-child{width:79px; border-left: 1px dashed rgba(0, 0, 0, 0.2); height:50px;}
#calendar.roadmap section header #time-periods .unit-group .units .cal-unit{width:80px; border-left: 1px dashed rgba(0, 0, 0, 0.2); height:50px;}
#calendar.roadmap section .resources--cal-unit{width:80px;}
#calendar.roadmap section header #time-periods .unit-group .units .cal-unit span.name{background:none;  left:33px;}

#calendar.roadmap.detailed  section header #time-periods .unit-group{width:1120px;}
#calendar.roadmap.detailed section header #time-periods .unit-group .units .cal-unit:first-child{width:159px; border-left: 1px dashed rgba(0, 0, 0, 0.2); height:50px;}
#calendar.roadmap.detailed section header #time-periods .unit-group .units .cal-unit{width:160px; border-left: 1px dashed rgba(0, 0, 0, 0.2); height:50px;}
#calendar.roadmap.detailed section .resources--cal-unit{width:160px;}
#calendar.roadmap.detailed section header #time-periods .unit-group .units .cal-unit span.name{background:none;  left:33px;}

#calendar.roadmap.months  section header #time-periods .unit-group{width:280px;}
#calendar.roadmap.months section header #time-periods .unit-group .units .cal-unit:first-child{width:39px; border-left: 1px dashed rgba(0, 0, 0, 0.2); height:50px;}
#calendar.roadmap.months section header #time-periods .unit-group .units .cal-unit{width:40px; border-left: 1px dashed rgba(0, 0, 0, 0.2); height:50px;}
#calendar.roadmap.months section .resources--cal-unit{width:40px;}
#calendar.roadmap.months section header #time-periods .unit-group .units .cal-unit span.name{background:none;  left:33px;}

#calendar.roadmap.years  section header #time-periods .unit-group{width:210px;}
#calendar.roadmap.years section header #time-periods .unit-group .units .cal-unit:first-child{width:29px; border-left: 1px dashed rgba(0, 0, 0, 0.2); height:50px;}
#calendar.roadmap.years section header #time-periods .unit-group .units .cal-unit{width:30px; border-left: 1px dashed rgba(0, 0, 0, 0.2); height:50px;}
#calendar.roadmap.years section .resources--cal-unit{width:30px;}
#calendar.roadmap.years section header #time-periods .unit-group .units .cal-unit span.name{background:none; left:33px;}

#calendar.daily section header #time-periods .unit-group{vertical-align:top;}
#calendar.daily.roadmap section header #time-periods .unit-group h2{ height: 50px;  line-height: 20px;}
#calendar.daily.roadmap.detailed section header #time-periods .unit-group h2{ height: 50px; line-height: 20px;}

#calendar.roadmap span.date { color: #3d3d3d;  font-size: 12px;    font-weight: 500;   position:relative !important;  left: 0px; color:#000!important;   margin: 0; display:block !important;    top: 0px; width:100%; text-align:center  !important;  display:block;}
#calendar.roadmap span.name{ position:relative !important; left:0px !important; width:100% !important; text-align:center  !important;  display:block !important;  font-size: 16px;}

#calendar.roadmap section header nav.roadProjectmap select { padding:2px 3px;    margin: 0;     background: #f8f8f8;  border:1px solid #cbcbcb;  color:#686868;      outline:none;    display: inline-block;    -webkit-appearance:none;    -moz-appearance:none;    appearance:none;    cursor:pointer;}
@media screen and (-webkit-min-device-pixel-ratio:0) {  #calendar.roadmap section header nav.roadProjectmap select {padding-right:18px} }
#calendar.roadmap section header nav.roadProjectmap label {position:relative}
#calendar.roadmap section header nav.roadProjectmap select option{padding:5px;}
#calendar.roadmap section header nav.roadProjectmap label:after {  content:'<>';    font:11px "Consolas", monospace;    color:#686868;    -webkit-transform:rotate(90deg);    -moz-transform:rotate(90deg);    -ms-transform:rotate(90deg);    transform:rotate(90deg);    right:8px; top:10px;    padding:0 0 2px;    border-bottom:1px solid #686868;    position:absolute;    pointer-events:none;}
#calendar.roadmap section header nav.roadProjectmap label:before { content:'';    right:6px; top:8px;   width:20px; height:20px;    background:#f8f8f8;    position:absolute;    pointer-events:none;    display:block;}

/*************Left menu css****************/
body.menucolss .resourceschedule{margin-top:0px !important;}
body.menucolss .resourceschedulebase{margin:0px !important;}
body.menucolss  #calendar.daily section{padding-top: 50px !important;}
body.menucolss #calendar.daily aside{padding-top: 18px !important; left: 180px !important; top: 82px !important;}
body.menucolss #calendar.daily section header nav.date-controls { left: 180px !important;   top: 50px !important;}
body.menucolss #calendar.daily section{margin-left: 430px !important;}
body.menucolss .tablehead{padding-left: 180px !important;}
    

body.menucol .resourceschedule{margin-top:0px !important;}
body.menucol .resourceschedulebase{margin:0px !important;}
body.menucol #calendar.daily section{padding-top: 50px !important;}
body.menucol #calendar.daily aside{padding-top: 18px !important; left: 50px !important; top: 82px !important;}
body.menucol #calendar.daily section header nav.date-controls { left: 50px !important;   top: 50px !important;}
body.menucol #calendar.daily section{margin-left: 300px !important;}
body.menucol .tablehead{padding-left: 50px !important;}

/*************Left menu css****************/

 .rmpprojectname { border-left: 1px solid #7f7f7f; border-right: 1px solid #7f7f7f; display: inline-block; line-height: 16px; margin: 0 20px; padding: 0 20px;}
 .invcheader div a.zoominicon {background-position:-482px -653px;}
 .invcheader div a.zoomouticon {background-position: -381px -653px;}
 .invcheader div a.horizontalview {background-position: -254px -653px;}
 .invcheader div a.verticalview {background-position: -140px -653px;}
 #calendar.daily.roadmap section #resources .resource-line .bookings .rmtooltip .RMcontentdt {
    color: #3d8ee7;  font-size: 11px;  font-style: italic;  line-height: 16px; position: relative;  text-align: right; width: 100%;}
.RMHeadingProject{ float: left; margin-left: 5px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 19%;}
.fontsizeroadmap17{font-size:16px;}

.calculated_enddate{font-size:10pt !important;text-transform:uppercase;float: right;right:-1px; height: 22px; background:#ec7878; line-height: 35px; padding: 0px 10px; width: 87px;display:flex;align-items:center;text-align:center;position:relative;top:-1px;color:#fff !important;}

.RM_Setting {position:relative;}
.RM_Setting .Rm_drop {top:48px; color:#000; padding:5px 0px;position:absolute;left:0;width:200px;box-shadow:0 0 4px rgba(0, 0, 0, 0.63);background:white none repeat scroll 0% 0%;z-index:9999;display:block;border:1px solid #eee;border-radius:4px !important;}

.RM_Setting .Rm_drop > div{display: flex;flex-direction: row;flex-wrap: nowrap;float: left;width:100%;padding:0 4px; margin-bottom:5px;}
.RM_Setting .Rm_drop > div:hover{background:#4587b3;cursor:pointer;color:white !important;}

.RM_Setting .Rm_drop > div span{margin-left: 2px;float: left;padding:4px;font-size:14px;}

.RM_Setting .Rm_drop:before{  width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid white;position:absolute;content:'';top: -10px;left:20px;}

.btn-success {color: #fff !important; background: #28a745 !important; border-color: #28a745 !important;}
.resourceschedule .resourceschedulebase div a {padding-bottom: 0px !important;font-size: 14px !important;}
.resourceschedule .resourceschedulebase div a.btn {padding-bottom: 5px !important;}
.buttonscontrol button i{padding:5px;}
/*#calendar.daily.roadmap section #resources .resource-line .bookings .booking-anchor .booking.phaseData{background:#17a2b8!important; border:1px solid #17a2b8!important;}*/
#calendar.daily.roadmap section #resources .resource-line .bookings .booking-anchor .booking.phaseData{background:#0fa4bb!important; border:1px solid #1096ab!important;}


/***If Left menu - Harjit Singh*********/

body.menu-left-wrapper.menucolss.wrapper-shrink #divresourceImpact #calendar.daily aside{left: 60px !important;padding-top: 4px !important; top:0px!important; margin-top: 181px !important;}/***Margintop added by Harjit***/
body.menu-left-wrapper.menucolss #divresourceImpact #calendar.daily aside{padding-top: 4px !important; top:0px!important;}

body.menu-left-wrapper.menucolss.wrapper-shrink #divresourceImpact #calendar.daily section{margin-left: 160px !important;}
body.menu-left-wrapper.menucolss #divresourceImpact #calendar.daily section{margin-left: 160px !important;}

body.menu-left-wrapper.menucolss #divresourceImpact header.topMargin{left:350px!important;top: 130px !important;}
body.menu-left-wrapper.menucolss.wrapper-shrink #divresourceImpact header.topMargin{left:220px!important;top: 130px !important;}

body.menu-left-wrapper.menucolss #divMainResourceImpact #ancuserGuideRI{margin-right: 65px!important;}
body.menu-left-wrapper.menucolss .menu-left-wrapper .l-menu-footer{bottom: 30px!important;}

body.menu-left-wrapper.menucolss #calendar.daily section header.topMargin{top:131px!important;}

/***If Left menu - Harjit Singh*********/

